html, body {
    margin: 0;
    padding: 0;
    background-color: #7994cc;
}
.App {
    display: flex;
    /*border: 2px solid red;*/
}
#mainContent {
    height: 2250px;
    width: 2500px;
    /*border: 2px solid green;*/
}
h1, h3 {
    text-align: center;
    color: white;
    /*border: 2px solid blue;*/
}


/* ========================================
   Pixel canvas
   ======================================== */
#pixel-canvas {
    display: inline-block;

    width: 100%;

    transform-origin: top left;
    transition: transform 0.2s ease-out;
    justify-content: center;
}
.pixelRow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.square {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  box-shadow: 0 0 0 0.5px black;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
.square:hover {
    transform: scale(1.25);
}




/* ========================================
   Colour selection
   ======================================== */
#colourPanel {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: #a8c1f3;
    padding: 10px;
    border-radius: 5px;
    border: 2px black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.colourOption {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: black 2px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, border 0.2s ease-in-out;
}
.colourOption.selected {
    border: 2px solid #000;
    transform: scale(1.2);
}

