.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7994cc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}





.square {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: red;
  box-shadow: 0 0 0 0.5px black;
}

.square:hover {
    transform: scale(1.25);
}

.colourOption {
    width: 75px;
    height: 75px;
}

.colourOptionSelected {
    width: 100px;
    height: 100px;
}

#pixel-canvas {

}